body {
    background-color: rgb(255, 248, 245);;	
    color: rgba(142, 78, 28, 0.80);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1 {
    font-weight: 700;
}
