@font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/RobotoFlex.woff2') format('woff2');
  font-weight: 100 1000; /* full variable range */
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #FEF7F6;
  color: #361505;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  font-weight: 900;
  background-color: #FEDAC8;
}

h2 {
  width: 1000px;
  height: 200px;
  background-color: #D87739;
  border-radius: 100px;
  padding: 50px;
  font-size: 50px;
}
