@font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/RobotoFlex.woff2') format('woff2');
  font-weight: 100 1000; /* full variable range */
  font-style: normal;
  font-display: swap;
}

body {
  background-color: apricot;
/*  background-color: rgb(255, 248, 245); */
  color: rgba(142, 78, 28, 0.80);
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 100px;
  border: solid 2px lightBlue;
  border-radius: 100px;
  font-weight: 900;
  background-color: lightBlue;
}
